body{
    background-color: blanchedalmond;
}

.container {
    border: 1px solid;
    height: 1000px;
    text-align: center;
    font-size: 30px;
}

.slot{
    border-bottom: 2px solid black;
    width: 15px;
    display: inline-block;
    margin: 5px;
}